* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #39445a;
  color: #fff;
  padding-top: 8.125rem;
  padding-bottom: 4.375rem;
}

@media (max-width: 43.75rem) {
  .app {
    padding-top: 4.375rem;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: 'montserrat', sans-serif;
  font-size: 2vw;
  padding: .25rem;
  border-radius: 3.125rem;
  color: white;
}

@media (max-width: 62.5rem) {
  .pageTitle {
    font-size: 6.4vw;
  }
}